* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #212529;
}


.main-content-container{
    padding-bottom: 3rem;
}
header {
  color: white;
  height: 400px;
  text-align: center;
  margin-bottom: 3rem;
  padding: 3rem;
}

.header-link {
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.25rem;
}
.blog-header {
  max-width: 100%;
  min-height: auto;
  background-image: linear-gradient(
      rgba(104, 100, 100, 0.706),
      rgba(118, 115, 115, 0.569)
    ),
    url("https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-container {
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 10px;
}

h1 {
  font-size: 5rem;
}

.post-container {
  max-width: 40vw;
  margin-left: 30%;
  padding: 3px;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 3px;
  margin-top: 1.5rem;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.titles {
  text-decoration: none;
  color: black;
}

.titles:hover {
  color: #0085a1;
}

p {
  margin-top: 1rem;
  color: gray;
}

.authorLink {
  font-style: italic;
  text-decoration: none;
  color: black;
}

.authorLink:hover {
  color: #0085a1;
}

button {
  background-color: #0085a1;
  text-transform: capitalize;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  
  
}

.button-container{
    display: flex;
    justify-content: right;
    width: 70vw;
    


    
}

.footer{
    height: 30rem;
}